@import "../../bower_components/normalize.css/normalize.css";
@import "../../bower_components/slick-carousel/slick/slick.scss";
@import "lib/base";
body, html {
	width: 100%;
	height: 100%;
}
html {
	font-size: 16px;
}
* {
	box-sizing: border-box;
	&::after {
		box-sizing: border-box;
	}
	&::before {
		box-sizing: border-box;
	}
}
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	font-kerning: normal;
	height: 100%;
	min-width: 320px;
}
h1 {
	margin: 0;
}
ul, ol {
	list-style: none;
	padding: 0;
	margin: 0;
}
input {
	border: none;
	background-color: transparent;
	padding: 0;
	margin: 0;
	outline: none;
}
button {
	border: none;
	outline: none;
	background: none;
	padding: 0;
	cursor: pointer;
}
a {
	text-decoration: none;
}
p {
	margin: 0;
}
.l {
	max-width: 1200px;
	margin: 0 auto;
	// padding: 0 15px;
	position: relative;
	@include clearfix;
	@include r(1200) {
		max-width: 980px;
	}
	@include r(980) {
		max-width: 736px;
		// padding: 0 10px;
	}
	// @include r(735) {
	// 	max-width: 540px;
	// }
	// @include r(539) {
	// 	max-width: 480px;
	// }
}
.viewport {
	height: 100%;
	.out {
		min-height: 100%;
		@include x-rem(margin, 0 0 -390px);
	}
	.footer {
		@include x-rem(margin, -390px 0 0);

	}
	.push {
		@include x-rem(height, 390px);
	}
}
.header {
	.l {
		padding: 0 15px;
		@include r(980) {
			padding: 0 10px;
		}
	}
	.header-top {
		@include x-rem(height, 39px);
		background-image: url(../img/pattern/pattern-orna-blue.png);
		position: relative;
		z-index: 2;
		&::before {
			content: '';
			background-color: #0083c2;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0.6;
			z-index: -1;
		}
		&::after {
			content: '';
			position: absolute;
			background-image: url(../img/pattern/transp-dark.png);
			background-position: 50% 50%;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
		}
		.link {
			@include x-rem(width, 170px);
			float: right;
			text-align: center;
			@include x-rem(padding, 6px 0 12px);
			position: relative;
			text-align: center;
			@include r(400) {
				width: 50%;
			}
			span {
				font-family: $R;
				@include x-rem(font-size, 13px);
				color: $white;
				border-bottom: 1px solid;
				transition: color 0.3s ease, border-color 0.3s ease;
			}
			&:hover {
				span {
					color: $yellow;
					border-color: $yellow;
				}
			}
		}
	}
	.header-row {
		background-color: $white;
		@include x-rem(padding, 23px 0 25px 0);
		.logo {
			@include x-rem(width, 138px);
			@include x-rem(height, 43px)
			background-image: url(../img/icons/logo.png);
			background-size: cover;
			float: left;
			@include x-rem(margin, 0 69px 0 6px);
			display: block;
			@include r(735) {
				float: none;
			}
		}
		.nav-btn {
			float: right;
			font-size: 0;
			@include x-rem(margin, 7px 0 0 0);
			@include r(735) {
				float: none;
				width: 100%;
				display: block;
				@include x-rem(margin, 37px 0 0 0);
			}
		}
		.btn {
			@include x-rem(width, 170px);
			&:not(:last-of-type) {
				@include x-rem(margin, 0 30px 0 0);
			}
			@include r(410) {
				@include x-rem(margin, 15px 0px 0 0);
			}
		}
	}
}
.footer {
	box-shadow: 0px -1px 22px 0px rgba(0, 0, 0, 0.15);
	.l {
		padding: 0 15px;
		@include r(980) {
			padding: 0 10px;
		}
	}
	.footer-top {
		background-color: $Lgrey;
		// @include x-rem(height, 70px);
	}
	.footer-middle {
		// @include x-rem(height, 280px);
		position: relative;
		@include x-rem(padding, 29px 0);
		background-image: url(../img/pattern/pattern-orna-blue.png);
		@include clearfix;
		&::before {
			content: '';
			background-color: $Dblue;
			opacity: 0.85;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			background-image: url(../img/pattern/transp-dark-footer.png);
			background-position: 50% 50%;
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
			background-size: cover;
		}
		@include r(735) {
			.form {
				max-width: 290px;
				display: inline-block;
				width: 100%;
			}
			.coord {
				max-width: 290px;
				text-align: left;
				display: inline-block;
				width: 100%;
			}
			.media {
				max-width: 290px;
				display: inline-block;
				width: 100%;
				text-align: left;
			}
		}
	}
	.footer-bottom {
		background-color: $Lgrey;
		@include x-rem(padding, 12px 0 11px);
		.copyright {
			font-family: $RLight;
			@include x-rem(font-size, 13.11px);
			color: #aaa;
		}
	}
	.footer-col {
		width: 33.33%;
		float: left;
		@include r(980) {
			width: 50%;
		}
		@include r(735) {
			width: 100%;
			text-align: center;
		}
		&:first-of-type {
			padding: 0 1.9% 0 0;
		}
		&:nth-of-type(2) {
			padding: 0 7.09%;
			@include r(1200) {
				padding: 0 4.5%;
			}
		}
		&:nth-of-type(3) {
			padding: 0 0.3%;
		}
	}
	.form {
		text-align: center;
		.form-title {
			font-family: $GeorgiaItalic;
			@include x-rem(font-size, 22px);
			color: $white;
			@include x-rem(margin-bottom, 7px);
		}
		p {
			font-family: $R;
			@include x-rem(font-size, 14.08px);
			color: $white;
			margin: 0;
			@include x-rem(line-height, 25px);
			letter-spacing: -0.17px;
			@include x-rem(margin-bottom, 18px);
		}
		input {
			@include x-rem(height, 50px);
			@include x-rem(width, 270px);
			background-color: $white;
			border-radius: 2px;
			font-family: $RLight;
			@include x-rem(font-size, 13.11px);
			color: #bab8b2;
			@include x-rem(padding, 0 16px);
		}
		.btn {
			@include x-rem(width, 270px);

		}
		.field {
			&:not(:last-child) {
				@include x-rem(margin-bottom, 30px);
			}
		}
	}
	.coord {
		@include x-rem(margin-top, 33px);
		.coord-item {
			@include x-rem(margin-bottom, 24px);
			@include x-rem(padding, 0 0 0 28px);
			position: relative;
			&::before {
				content: '';
				@include x-rem(width, 20px);
				@include x-rem(height, 20px);
				background-size: cover;
				position: absolute;
				left: 0;
				top: 3px;
			}
			&.location {
				&::before {
					background-image: url(../img/icons/location.png);
				}
			}
			&.phone {
				&::before {
					background-image: url(../img/icons/phone.png);
				}
			}
			&.mail {
				&::before {
					background-image: url(../img/icons/mail.png);
				}
			}
			p, a {
				font-family: $RLight;
				@include x-rem(font-size, 14.02px);
				color: $white;
				@include x-rem(line-height, 25px);
				margin: 0;
			}
			a {
				border-bottom: 1px solid;
			}
		}
	}
	.media {
		font-size: 0;
		@include x-rem(margin-top, 30px);
		.media-item {
			@include x-rem(width, 43px);
			@include x-rem(height, 44px);
			display: inline-block;
			@include x-rem(margin-left, 15px);
			@include r(735) {
				&:first-child {
					margin-left: 0;
				}
			}
			&.media-item_fb {
				a {
					&::after {
						background-image: url(../img/icons/fb.png);
					}
					&::before {
						background-image: url(../img/icons/fb-hover.png);
					}
				}
			}
			&.media-item_vk {
				a {
					&::after {
						background-image: url(../img/icons/vk.png);
					}
					&::before {
						background-image: url(../img/icons/vk-hover.png);
					}
				}
			}
			&.media-item_advisor {
				a {
					&::after {
						background-image: url(../img/icons/advisor.png);
					}
					&::before {
						background-image: url(../img/icons/advisor-hover.png);
					}
				}
			}
			&.media-item_insta {
				a {
					&::after {
						background-image: url(../img/icons/insta.png);
					}
					&::before {
						background-image: url(../img/icons/insta-hover.png);
					}
				}
			}
			&.media-item_yt {
				a {
					&::after {
						background-image: url(../img/icons/yt.png);
					}
					&::before {
						background-image: url(../img/icons/yt-hover.png);
					}
				}
			}
			a {
				display: block;
				width: 100%;
				height: 100%;
				position: relative;
				&::after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					transition: opacity 0.3s ease;
					background-size: cover;
					width: 100%;
					height: 100%;
				}
				&::before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					transition: opacity 0.3s ease;
					background-size: cover;
					width: 100%;
					height: 100%;
					opacity: 0;
				}
				&:hover {
					&::after {
						opacity: 0;
					}
					&::before {
						opacity: 1;
					}
				}
			}
		}
	}
	.l {
		position: relative;
		z-index: 5;
	}
}
.overlay {
	overflow: hidden;
}
.btn {
	display: inline-block;
	vertical-align: middle;
	transition: background-color .3s ease;
	@include x-rem(height, 50px);
	@include x-rem(border-radius, 25px);
	text-align: center;
	span {
		font-family: $R;
		@include x-rem(font-size, 12px);
		text-transform: uppercase;
		display: inline-block;
		@include x-rem(padding, 17px 0);
	}
	&.blue {
		background-color: $blue;
		box-shadow: inset 0px -2px 0px 0px rgba(111, 148, 201, 0.6);
		span {
			color: $white;
		}
		&:hover {
			background-color: $Lblue;
		}
	}
	&.yellow {
		background-color: $Dyellow;
		box-shadow: inset 0px -2px 0px 0px rgba(187, 187, 187, 0.6);
		span {
			color: $Mgrey;
		}
		&:hover {
			background-color: $yellow;
		}
	}
	&.small {
		@include x-rem(height, 40px);
		@include x-rem(border-radius, 20px);
		span {
			@include x-rem(padding, 12px 0);
		}
	}
	&.arrow {
		position: relative;
		width: 70px;
		margin-top: 30px;
		&::after {
			content: '';
			width: 11px;
			height: 10px;
			background-image: url(../img/icons/btn-arrow.png);
			background-repeat: no-repeat;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
		}
	}
}
.header-nav {
	@include x-rem(padding, 6px 0);
	@include r(1200) {
		display: none;
	}
	ul {
		font-size: 0;
	}
	li {
		display: inline-block;
		vertical-align: top;
		@include x-rem(margin, 9px 0 9px 0);
		&:not(:last-child) {
			@include x-rem(margin, 9px 14px 9px 0);
		}
		a {
			font-family: $RLight;
			@include x-rem(font-size, 14px);
			color: $blue;
			@include x-rem(padding, 2px 0);
			border-bottom: 1px solid transparent;
			display: inline-block;
			transition: border-color 0.3s ease;
			&:hover {
				border-color: $blue;
			}
		}
	}
}
.footer-nav {
	@include x-rem(padding, 14px 0);
	ul {
		font-size: 0;
	}
	li {
		display: inline-block;
		vertical-align: top;
		@include x-rem(margin, 9px 19px 9px 0);
		@include r(735) {
			width: 100%;
			margin-right: 0;
		}
		a {
			font-family: $RLight;
			@include x-rem(font-size, 16px);
			color: $blue;
			@include x-rem(padding, 2px 0);
			border-bottom: 1px solid transparent;
			display: inline-block;
			transition: border-color 0.3s ease;
			&:hover {
				border-color: $blue;
			}
		}
	}
}
.lang {
	@include x-rem(width, 170px);
	float: right;
	text-align: center;
	@include x-rem(padding, 9px 0);
	position: relative;
	@include x-rem(margin, 0 0 0 30px);
	@include r(400) {
		margin: 0;
		width: 50%;
	}
	.lang-trigger {
		text-align: right;
		@include x-rem(padding, 0 40px 0 5px);
		cursor: pointer;
		position: relative;
		&::after {
			content: '';
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 5px 3px 0 3px;
			border-color: $white transparent transparent transparent;
			position: absolute;
			@include x-rem(right, 20px);
			@include x-rem(top, 8px);
			transition: border-color 0.3s ease;
		}
	}
	.item {
		font-family: $R;
		@include x-rem(font-size, 13px);
		color: $white;
		transition: color 0.3s ease;
		display: inline-block;
		vertical-align: middle;
		.icon {
			@include x-rem(width, 20px);
			@include x-rem(height, 20px);
			display: inline-block;
			vertical-align: middle;
			margin-left: 3px;
			border-radius: 100%;
			&.icon-rus {
				background-image: url(../img/icons/icon-rus.png);
				background-size: cover;
			}
			&.icon-by {
				background-image: url(../img/icons/icon-by.png);
				background-size: cover;
			}
			&.icon-en {
				background-image: url(../img/icons/icon-en.png);
				background-size: cover;
			}
		}
	}
	.lang-list {
		background-color: $white;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		text-align: right;
		box-shadow: 0px -1px 10px 0px rgba(0, 0, 0, 0.2);
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.15s ease, visibility 0.15s ease;
		@include x-rem(padding, 4px 0 8px);
		.selected {
			.item {
				span {
					color: $blue;
					border-color: $blue;
				}
			}
		}
		.item {
			@include x-rem(padding, 8px 40px 8px 5px);
			span {
				border-bottom: 1px solid transparent;
				transition: border-color 0.3s ease;
				color: #bbb;
			}
			.icon {
				box-shadow: 0px -1px 7px 0px rgba(0, 0, 0, 0.2);
			}
		}
	}
	&:hover {
		.lang-trigger {
			&::after {
				border-color: $yellow transparent transparent transparent
			}
			.item {
				color: $yellow;
			}
		}
		.lang-list {
			opacity: 1;
			visibility: visible;
		}
	}
}
.burger {
	width: 40px;
	height: 24px;
	display: none;
	vertical-align: middle;
	@include x-rem(margin-left, 30px);
	@include r(1200) {
		display: inline-block;
	}
	@include r(735) {
		position: absolute;
		top: 0;
		@include x-rem(right, 15px);
	}
	span {
		height: 4px;
		width: 100%;
		background-color: $grey;
		display: block;
		position: relative;
		&::after {
			content: '';
			width: 100%;
			left: 0;
			position: absolute;
			height: 4px;
			top: -10px;
			background-color: $grey;
		}
		&::before {
			content: '';
			width: 100%;
			height: 4px;
			left: 0;
			bottom: -10px;
			background-color: $grey;
			position: absolute;
		}
	}
}
.main__head {
	height: 700px;
	background-image: url(../img/main-head.jpg);
	background-size: cover;
	background-position: 50%;
	position: relative;
	@include r(735) {
		height: 438px;
	}
	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		top: 0;
		right: 0;
		left: 0;
		z-index: 1;
		background-image: url(../img/pattern/gradient-blue.png);
		background-repeat: repeat-x;
		background-position: 100% 0;
	}
	.head {
		max-width: 700px;
		position: absolute;
		z-index: 2;
		left: 50%;
		top: 50%;
		text-align: center;
		transform: translate(-50%, -50%);
		width: 100%;
		@include r(735) {
			max-width: 290px;
		}
		.head__top {
			font-family: $GeorgiaItalic;
			@include x-rem(font-size, 40px);
			color: $white;
			@include r(735) {
				font-size: 30px;
			}
		}
		.head__middle {
			font-family: $Nautilus;
			@include x-rem(font-size, 100px);
			color: $white;
			border-bottom: 1px solid;
			padding: 0 0 15px 0;
			margin: 0 0 30px 0;
			@include r(735) {
				font-size: 40px;
			}
		}
		.head__descr {
			font-family: $GeorgiaItalic;
			@include x-rem(font-size, 22px);
			color: $white;
			line-height: 1.4;
			@include r(735) {
				font-size: 16px;
				line-height: 1.9;
			}
		}
	}
}
.container {
	box-shadow: inset 0px -1px 10px 0px rgba(0, 0, 0, 0.15);
	padding: 120px 0;
	@include r(735) {
		padding: 40px 0;
	}
	&.container-image {
		box-shadow: none;
		&.container-tickets {
			background-image: url(../img/section-1.jpg);
			background-size: cover;
			background-position: 50%;
		}
	}
}
.row {
	@include clearfix;
}
.col-33 {
	float: left;
	width: 33.33%;
	padding: 0 15px;
	@include clearfix;
	@include r(980) {
		padding: 0 10px;
		width: 100%;
		&:not(:last-of-type) {
			margin-bottom: 30px;
		}
	}
}
.col-66 {
	float: left;
	width: 66.66%;
	padding: 0 15px;
	@include clearfix;
	@include r(980) {
		padding: 0 10px;
		width: 100%;
		&:not(:last-of-type) {
			margin-bottom: 30px;
		}
	}
}
.col-100 {
	width: 100%;
	padding: 0 15px;
	@include r(980) {
		padding: 0 10px;
	}
}
.h1, h1	{
	font-family: $GeorgiaItalic;
	font-size: 45px;
	color: $h;
	position: relative;
	padding-bottom: 30px;
	line-height: 50px;
	margin-bottom: 40px;
	@include r(735) {
		font-size: 32px;
		padding-bottom: 15px;
		line-height: 32px;
	}
	&::after {
		content: '';
		bottom: 0;
		height: 1px;
		width: 70px;
		background-color: $h;
		position: absolute;
		bottom: 0;
		left: 0;
	}
}
.h2, h2	{
	font-family: $GeorgiaItalic;
	font-size: 40px;
	color: $h;
	position: relative;
	padding-bottom: 30px;
	line-height: 50px;
	margin-bottom: 30px;
	&::after {
		content: '';
		bottom: 0;
		height: 1px;
		width: 70px;
		background-color: $h;
		position: absolute;
		bottom: 0;
		left: 0;
	}
}
.h3, h3	{
	font-family: $GeorgiaItalic;
	font-size: 35px;
	color: $h;
	position: relative;
	padding-bottom: 25px;
	line-height: 45px;
	margin-bottom: 30px;
	&::after {
		content: '';
		bottom: 0;
		height: 1px;
		width: 70px;
		background-color: $h;
		position: absolute;
		bottom: 0;
		left: 0;
	}
}
.h4, h4	{
	font-family: $GeorgiaItalic;
	font-size: 30px;
	color: $h;
	position: relative;
	padding-bottom: 20px;
	line-height: 40px;
	margin-bottom: 30px;
	&::after {
		content: '';
		bottom: 0;
		height: 1px;
		width: 70px;
		background-color: $h;
		position: absolute;
		bottom: 0;
		left: 0;
	}
}
.h5, h5	{
	font-family: $GeorgiaItalic;
	font-size: 25px;
	color: $h;
	position: relative;
	padding-bottom: 20px;
	line-height: 35px;
	margin-bottom: 30px;
	&::after {
		content: '';
		bottom: 0;
		height: 1px;
		width: 70px;
		background-color: $h;
		position: absolute;
		bottom: 0;
		left: 0;
	}
}
.h6, h6	{
	font-family: $GeorgiaItalic;
	font-size: 22px;
	color: $h;
	position: relative;
	padding-bottom: 20px;
	line-height: 30px;
	margin-bottom: 30px;
	&::after {
		content: '';
		bottom: 0;
		height: 1px;
		width: 70px;
		background-color: $h;
		position: absolute;
		bottom: 0;
		left: 0;
	}
}
p {
	font-family: $RLight;
	font-size: 15px;
	line-height: 30px;
	&:not(:last-of-type) {
		margin-bottom: 60px;
	}
	padding-right: 50px;
	@include r(735) {
		padding-right: 0;
		font-size: 14px;
		&:not(:last-of-type) {
			margin-bottom: 20px;
		}
	}
}
.tickets {
	padding: 79px 0 5px;
	margin: 0 -15px;
	@include clearfix;
	@include r(639) {
		max-width: 300px;
		margin: 0 auto
	}
	.tickets-item {
		padding: 0 15px;
		height: 656px;
		width: 33.33%;
		float: left;
		@include r(980) {
			width: 50%;
		}
		@include r(735) {
			height: 556px;
		}
		@include r(639) {
			width: 100%;
		}
		.tickets-inner {
			background-color: rgba(36,36,36,.7);
			width: 100%;
			height: 100%;
			border-radius: 3px;
			padding-top: 40px;
			text-align: center;
			@include r(735) {
				padding-top: 35px;
			}
		}
		.title {
			font-family: $GeorgiaItalic;
			font-size: 22px;
			color: $white;
			margin-bottom: 31px;
			@include r(735) {
				font-size: 17px;
				margin-bottom: 30px;
			}
		}
	}
}
.case-img {
	display: inline-block;
	margin-bottom: 34px;
	@include r(735) {
		margin-bottom: 25px;
		width: 70px;
		height: 70px;
	}
	img {
		max-width: 100%;
		max-height: 100%;
	}
}
.option {
	max-width: 230px;
	display: inline-block;
	.option-item {
		width: 100%;
		display: inline-block;
		border-bottom: 1px solid $yellow;
		margin-bottom: 34px;
		&:nth-of-type(4) {
			border-color: transparent;
		}
		&.last-child {
			margin-bottom: 0;
		}
		@include r(735) {
			margin-bottom: 25px;
		}
		.option-head {
			font-family: $RLight;
			font-size: 14.06px;
			color: $yellow;
			padding-bottom: 11px;
		}
		.option-body {
			font-family: $RLight;
			font-size: 15.9px;
			color: $white;
			padding-bottom: 16px;
			.price {
				font-size: 30px;
			}
		}
		.btn {
			max-width: 200px;
			width: 100%;
		}
	}
	&.option-big {
		padding-top: 30px;
		.option-item {
			.option-body {
				padding-bottom: 10px;
			}
		}
	}
	&.option-order {
		.option-item {
			&:nth-of-type(3) {
				border-color: transparent;
			}
		}
	}
}
.link {
	color: $white;
	font-family: $RLight;
	border-bottom: 1px solid;
	transition: color 0.3s ease, border-color 0.3s ease;
	&:hover {
		color: $yellow;
		border-color: $yellow;
	}
}
.slick-dots {
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	bottom: 20px;
	@include r(980) {
		bottom: 0;
	}
	li {
		display: inline-block;
		width: 10px;
		height: 10px;
		text-indent: -9999px;
		border: 1px solid $white;
		border-radius: 100%;
		margin: 0 5px;
		cursor: pointer;
		&.slick-active {
			background-color: $white;
		}
	}
}
.slick-arrow {
	width: 50px;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 2;
	text-indent: -9999px;
	&.slick-prev {
		left: 0;
		background-image: url(../img/icons/left.png);
		background-position: 50%;
		background-repeat: no-repeat;
	}
	&.slick-next {
		right: 0;
		background-image: url(../img/icons/right.png);
		background-position: 50%;
		background-repeat: no-repeat;
	}
}
.tickets {
	.slick-dots {
		bottom: -75px;
		@include r(735) {
			bottom: -30px;
		}
		li {
			border-color: $Dyellow;
			&.slick-active {
				background-color: $Dyellow;
			}
		}
	}
}
.slider-carousel {
	img {
		width: 100%;
	}
}