@import "../../bower_components/normalize.css/normalize.css";
@import "../../bower_components/slick-carousel/slick/slick.scss";
@import "lib/base";
body, html {
	width: 100%;
	height: 100%;
}
html {
	font-size: 16px;
	&.hidden {
		overflow: hidden;
	}
}
* {
	box-sizing: border-box;
	&::after {
		box-sizing: border-box;
	}
	&::before {
		box-sizing: border-box;
	}
}
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	font-kerning: normal;
	height: 100%;
	min-width: 320px;
}
h1 {
	margin: 0;
}
ul, ol {
	list-style: none;
	padding: 0;
	margin: 0;
}
input {
	border: none;
	background-color: transparent;
	padding: 0;
	margin: 0;
	outline: none;
}
button {
	border: none;
	outline: none;
	background: none;
	padding: 0;
	cursor: pointer;
}
a {
	text-decoration: none;
}
p {
	margin: 0;
}
.l {
	max-width: 1200px;
	margin: 0 auto;
	// padding: 0 15px;
	position: relative;
	@include clearfix;
	@include r(1200) {
		max-width: 980px;
	}
	@include r(980) {
		max-width: 736px;
		// padding: 0 10px;
	}
	// @include r(735) {
	// 	max-width: 540px;
	// }
	// @include r(539) {
	// 	max-width: 480px;
	// }
}
.viewport {
	height: 100%;
	.out {
		min-height: 100%;
		@include x-rem(margin, 0 0 -390px);
	}
	.footer {
		@include x-rem(margin, -390px 0 0);

	}
	.push {
		@include x-rem(height, 390px);
	}
}
.header {
	box-shadow: 0px 1px 10px 0px rgba(0,0,0,.15);
	position: relative;
	z-index: 5;
	.l {
		padding: 0 15px;
		@include r(980) {
			padding: 0 10px;
		}
	}
	.header-top {
		@include x-rem(height, 39px);
		background-image: url(../img/pattern/pattern-orna-blue.png);
		position: relative;
		z-index: 2;
		&::before {
			content: '';
			background-color: #0083c2;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0.6;
			z-index: -1;
		}
		&::after {
			content: '';
			position: absolute;
			background-image: url(../img/pattern/transp-dark.png);
			background-position: 50% 50%;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
		}
		.link {
			@include x-rem(width, 170px);
			float: right;
			text-align: center;
			@include x-rem(padding, 6px 0 12px);
			position: relative;
			text-align: center;
			border-bottom: none;
			@include r(400) {
				width: 50%;
			}
			span {
				font-family: $R;
				@include x-rem(font-size, 13px);
				color: $white;
				border-bottom: 1px solid;
				transition: color 0.3s ease, border-color 0.3s ease;
			}
			&:hover {
				span {
					color: $yellow;
					border-color: $yellow;
				}
			}
		}
	}
	.header-row {
		background-color: $white;
		@include x-rem(padding, 23px 0 25px 0);
		.logo {
			@include x-rem(width, 138px);
			@include x-rem(height, 43px)
			background-image: url(../img/icons/logo.png);
			background-size: cover;
			float: left;
			@include x-rem(margin, 0 69px 0 6px);
			display: block;
			@include r(735) {
				float: none;
			}
		}
		.nav-btn {
			float: right;
			font-size: 0;
			@include x-rem(margin, 7px 0 0 0);
			@include r(735) {
				float: none;
				width: 100%;
				display: block;
				@include x-rem(margin, 37px 0 0 0);
			}
		}
		.btn {
			@include x-rem(width, 170px);
			&:not(:last-of-type) {
				@include x-rem(margin, 0 30px 0 0);
			}
			@include r(410) {
				@include x-rem(margin, 15px 0px 0 0);
			}
		}
	}
}
.footer {
	box-shadow: 0px -1px 22px 0px rgba(0, 0, 0, 0.15);
	.l {
		padding: 0 15px;
		@include r(980) {
			padding: 0 10px;
		}
	}
	.footer-top {
		background-color: $Lgrey;
		// @include x-rem(height, 70px);
	}
	.footer-middle {
		// @include x-rem(height, 280px);
		position: relative;
		@include x-rem(padding, 29px 0);
		background-image: url(../img/pattern/pattern-orna-blue.png);
		@include clearfix;
		&::before {
			content: '';
			background-color: $Dblue;
			opacity: 0.85;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			background-image: url(../img/pattern/transp-dark-footer.png);
			background-position: 50% 50%;
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
			background-size: cover;
		}
		@include r(735) {
			.form {
				max-width: 290px;
				display: inline-block;
				width: 100%;
			}
			.coord {
				max-width: 290px;
				text-align: left;
				display: inline-block;
				width: 100%;
			}
			.media {
				max-width: 290px;
				display: inline-block;
				width: 100%;
				text-align: left;
			}
		}
	}
	.footer-bottom {
		background-color: $Lgrey;
		@include x-rem(padding, 12px 0 11px);
		.copyright {
			font-family: $RLight;
			@include x-rem(font-size, 13.11px);
			color: #aaa;
		}
	}
	.footer-col {
		width: 33.33%;
		float: left;
		@include r(980) {
			width: 50%;
		}
		@include r(735) {
			width: 100%;
			text-align: center;
		}
		&:first-of-type {
			padding: 0 1.9% 0 0;
		}
		&:nth-of-type(2) {
			padding: 0 7.09%;
			@include r(1200) {
				padding: 0 4.5%;
			}
		}
		&:nth-of-type(3) {
			padding: 0 0.3%;
		}
	}
	.form {
		text-align: center;
		.form-title {
			font-family: $GeorgiaItalic;
			@include x-rem(font-size, 22px);
			color: $white;
			@include x-rem(margin-bottom, 7px);
		}
		p {
			font-family: $R;
			@include x-rem(font-size, 14.08px);
			color: $white;
			margin: 0;
			@include x-rem(line-height, 25px);
			letter-spacing: -0.17px;
			@include x-rem(margin-bottom, 18px);
			padding-right: 0;
		}
		input {
			@include x-rem(height, 50px);
			@include x-rem(width, 270px);
			background-color: $white;
			border-radius: 2px;
			font-family: $RLight;
			@include x-rem(font-size, 13.11px);
			color: #bab8b2;
			@include x-rem(padding, 0 16px);
		}
		.btn {
			@include x-rem(width, 270px);

		}
		.field {
			&:not(:last-child) {
				@include x-rem(margin-bottom, 30px);
			}
		}
	}
	.coord {
		@include x-rem(margin-top, 33px);
		.coord-item {
			@include x-rem(margin-bottom, 24px);
			@include x-rem(padding, 0 0 0 28px);
			position: relative;
			&::before {
				content: '';
				@include x-rem(width, 20px);
				@include x-rem(height, 20px);
				background-size: cover;
				position: absolute;
				left: 0;
				top: 3px;
			}
			&.location {
				&::before {
					background-image: url(../img/icons/location.png);
				}
			}
			&.phone {
				&::before {
					background-image: url(../img/icons/phone.png);
				}
			}
			&.mail {
				&::before {
					background-image: url(../img/icons/mail.png);
				}
			}
			p, a {
				font-family: $RLight;
				@include x-rem(font-size, 14.02px);
				color: $white;
				@include x-rem(line-height, 25px);
				margin: 0;
			}
			a {
				border-bottom: 1px solid;
			}
		}
	}
	.media {
		font-size: 0;
		@include x-rem(margin-top, 30px);
		.media-item {
			@include x-rem(width, 43px);
			@include x-rem(height, 44px);
			display: inline-block;
			@include x-rem(margin-left, 15px);
			@include r(735) {
				&:first-child {
					margin-left: 0;
				}
			}
			&.media-item_fb {
				a {
					&::after {
						background-image: url(../img/icons/fb.png);
					}
					&::before {
						background-image: url(../img/icons/fb-hover.png);
					}
				}
			}
			&.media-item_vk {
				a {
					&::after {
						background-image: url(../img/icons/vk.png);
					}
					&::before {
						background-image: url(../img/icons/vk-hover.png);
					}
				}
			}
			&.media-item_advisor {
				a {
					&::after {
						background-image: url(../img/icons/advisor.png);
					}
					&::before {
						background-image: url(../img/icons/advisor-hover.png);
					}
				}
			}
			&.media-item_insta {
				a {
					&::after {
						background-image: url(../img/icons/insta.png);
					}
					&::before {
						background-image: url(../img/icons/insta-hover.png);
					}
				}
			}
			&.media-item_yt {
				a {
					&::after {
						background-image: url(../img/icons/yt.png);
					}
					&::before {
						background-image: url(../img/icons/yt-hover.png);
					}
				}
			}
			a {
				display: block;
				width: 100%;
				height: 100%;
				position: relative;
				&::after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					transition: opacity 0.3s ease;
					background-size: cover;
					width: 100%;
					height: 100%;
				}
				&::before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					transition: opacity 0.3s ease;
					background-size: cover;
					width: 100%;
					height: 100%;
					opacity: 0;
				}
				&:hover {
					&::after {
						opacity: 0;
					}
					&::before {
						opacity: 1;
					}
				}
			}
		}
	}
	.l {
		position: relative;
		z-index: 5;
	}
}
.overlay {
	overflow: hidden;
}
.btn {
	display: inline-block;
	vertical-align: middle;
	transition: background-color .3s ease;
	@include x-rem(height, 50px);
	@include x-rem(border-radius, 25px);
	text-align: center;
	span {
		font-family: $R;
		@include x-rem(font-size, 12px);
		text-transform: uppercase;
		display: inline-block;
		@include x-rem(padding, 17px 0);
	}
	&.blue {
		background-color: $blue;
		box-shadow: inset 0px -2px 0px 0px rgba(111, 148, 201, 0.6);
		span {
			color: $white;
		}
		&:hover {
			background-color: $Lblue;
		}
	}
	&.yellow {
		background-color: $Dyellow;
		box-shadow: inset 0px -2px 0px 0px rgba(187, 187, 187, 0.6);
		span {
			color: $Mgrey;
		}
		&:hover {
			background-color: $yellow;
		}
	}
	&.small {
		@include x-rem(height, 40px);
		@include x-rem(border-radius, 20px);
		span {
			@include x-rem(padding, 12px 0);
		}
	}
	&.arrow {
		position: relative;
		width: 70px;
		margin-top: 30px;
		&::after {
			content: '';
			width: 11px;
			height: 10px;
			background-image: url(../img/icons/btn-arrow.png);
			background-repeat: no-repeat;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
		}
	}
}
.header-nav {
	@include x-rem(padding, 6px 0);
	@include r(1200) {
		display: none;
	}
	ul {
		font-size: 0;
	}
	li {
		display: inline-block;
		vertical-align: top;
		@include x-rem(margin, 9px 0 9px 0);
		&:not(:last-child) {
			@include x-rem(margin, 9px 14px 9px 0);
		}
		a {
			font-family: $RLight;
			@include x-rem(font-size, 14px);
			color: $blue;
			@include x-rem(padding, 2px 0);
			border-bottom: 1px solid transparent;
			display: inline-block;
			transition: border-color 0.3s ease;
			&:hover {
				border-color: $blue;
			}
		}
	}
}
.footer-nav {
	@include x-rem(padding, 14px 0);
	ul {
		font-size: 0;
	}
	li {
		display: inline-block;
		vertical-align: top;
		@include x-rem(margin, 9px 19px 9px 0);
		@include r(735) {
			width: 100%;
			margin-right: 0;
		}
		a {
			font-family: $RLight;
			@include x-rem(font-size, 16px);
			color: $blue;
			@include x-rem(padding, 2px 0);
			border-bottom: 1px solid transparent;
			display: inline-block;
			transition: border-color 0.3s ease;
			&:hover {
				border-color: $blue;
			}
		}
	}
}
.lang {
	@include x-rem(width, 170px);
	float: right;
	text-align: center;
	@include x-rem(padding, 9px 0);
	position: relative;
	@include x-rem(margin, 0 0 0 30px);
	@include r(400) {
		margin: 0;
		width: 50%;
	}
	.lang-trigger {
		text-align: right;
		@include x-rem(padding, 0 40px 0 5px);
		cursor: pointer;
		position: relative;
		&::after {
			content: '';
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 5px 3px 0 3px;
			border-color: $white transparent transparent transparent;
			position: absolute;
			@include x-rem(right, 20px);
			@include x-rem(top, 8px);
			transition: border-color 0.3s ease;
		}
	}
	.item {
		font-family: $R;
		@include x-rem(font-size, 13px);
		color: $white;
		transition: color 0.3s ease;
		display: inline-block;
		vertical-align: middle;
		.icon {
			@include x-rem(width, 20px);
			@include x-rem(height, 20px);
			display: inline-block;
			vertical-align: middle;
			margin-left: 3px;
			border-radius: 100%;
			&.icon-rus {
				background-image: url(../img/icons/icon-rus.png);
				background-size: cover;
			}
			&.icon-by {
				background-image: url(../img/icons/icon-by.png);
				background-size: cover;
			}
			&.icon-en {
				background-image: url(../img/icons/icon-en.png);
				background-size: cover;
			}
		}
	}
	.lang-list {
		background-color: $white;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		text-align: right;
		box-shadow: 0px -1px 10px 0px rgba(0, 0, 0, 0.2);
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.15s ease, visibility 0.15s ease;
		@include x-rem(padding, 4px 0 8px);
		.selected {
			.item {
				span {
					color: $blue;
					border-color: $blue;
				}
			}
		}
		.item {
			@include x-rem(padding, 8px 40px 8px 5px);
			span {
				border-bottom: 1px solid transparent;
				transition: border-color 0.3s ease;
				color: #bbb;
			}
			.icon {
				box-shadow: 0px -1px 7px 0px rgba(0, 0, 0, 0.2);
			}
		}
	}
	&:hover {
		.lang-trigger {
			&::after {
				border-color: $yellow transparent transparent transparent
			}
			.item {
				color: $yellow;
			}
		}
		.lang-list {
			opacity: 1;
			visibility: visible;
		}
	}
}
.burger {
	width: 40px;
	height: 24px;
	display: none;
	vertical-align: middle;
	@include x-rem(margin-left, 30px);
	@include r(1200) {
		display: inline-block;
	}
	@include r(735) {
		position: absolute;
		top: 0;
		@include x-rem(right, 15px);
	}
	span {
		height: 4px;
		width: 100%;
		background-color: $grey;
		display: block;
		position: relative;
		&::after {
			content: '';
			width: 100%;
			left: 0;
			position: absolute;
			height: 4px;
			top: -10px;
			background-color: $grey;
		}
		&::before {
			content: '';
			width: 100%;
			height: 4px;
			left: 0;
			bottom: -10px;
			background-color: $grey;
			position: absolute;
		}
	}
}
.main__head {
	height: 700px;
	background-image: url(../img/main-head.jpg);
	background-size: cover;
	background-position: 50%;
	position: relative;
	@include r(735) {
		height: 438px;
	}
	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		top: 0;
		right: 0;
		left: 0;
		z-index: 1;
		background-image: url(../img/pattern/gradient-blue.png);
		background-repeat: repeat-x;
		background-position: 100% 0;
	}
	.head {
		max-width: 700px;
		position: absolute;
		z-index: 2;
		left: 50%;
		top: 50%;
		text-align: center;
		transform: translate(-50%, -50%);
		width: 100%;
		@include r(735) {
			max-width: 290px;
		}
		.head__top {
			font-family: $GeorgiaItalic;
			@include x-rem(font-size, 40px);
			color: $white;
			@include r(735) {
				font-size: 30px;
			}
		}
		.head__middle {
			font-family: $Nautilus;
			@include x-rem(font-size, 100px);
			color: $white;
			border-bottom: 1px solid;
			padding: 0 0 15px 0;
			margin: 0 0 30px 0;
			@include r(735) {
				font-size: 40px;
			}
		}
		.head__descr {
			font-family: $GeorgiaItalic;
			@include x-rem(font-size, 22px);
			color: $white;
			line-height: 1.4;
			@include r(735) {
				font-size: 16px;
				line-height: 1.9;
			}
		}
	}
}
.container {
	box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);
	padding: 120px 0;
	@include r(735) {
		padding: 40px 0;
	}
	&.container-image {
		box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);
		position: relative;
		z-index: 2;
		&.container-tickets {
			background-image: url(../img/section-1.jpg);
			background-size: cover;
			background-position: 50%;
		}
	}
}
.row {
	@include clearfix;
}
.col-33 {
	float: left;
	width: 33.33%;
	padding: 0 15px;
	@include clearfix;
	@include r(980) {
		padding: 0 10px;
		width: 100%;
		&:not(:last-of-type) {
			margin-bottom: 30px;
		}
	}
}
.col-66 {
	float: left;
	width: 66.66%;
	padding: 0 15px;
	@include clearfix;
	@include r(980) {
		padding: 0 10px;
		width: 100%;
		&:not(:last-of-type) {
			margin-bottom: 30px;
		}
	}
}
.col-100 {
	width: 100%;
	padding: 0 15px;
	@include r(980) {
		padding: 0 10px;
	}
}
.row {
	&:not(:last-of-type) {
		margin-bottom: 35px;
	}
}
.h1, h1	{
	font-family: $GeorgiaItalic;
	font-size: 45px;
	color: $h;
	position: relative;
	padding-bottom: 30px;
	line-height: 50px;
	margin-bottom: 40px;
	@include r(735) {
		font-size: 32px;
		padding-bottom: 15px;
		line-height: 32px;
	}
	&::after {
		content: '';
		bottom: 0;
		height: 1px;
		width: 170px;
		background-color: $grey;
		position: absolute;
		bottom: 0;
		left: 0;
	}
}
.h2, h2	{
	font-family: $GeorgiaItalic;
	font-size: 40px;
	color: $h;
	position: relative;
	padding-bottom: 30px;
	line-height: 50px;
	margin-bottom: 30px;
	&::after {
		content: '';
		bottom: 0;
		height: 1px;
		width: 170px;
		background-color: $h;
		position: absolute;
		bottom: 0;
		left: 0;
	}
}
.h3, h3	{
	font-family: $GeorgiaItalic;
	font-size: 35px;
	color: $h;
	position: relative;
	padding-bottom: 25px;
	line-height: 45px;
	margin-bottom: 30px;
	&::after {
		content: '';
		bottom: 0;
		height: 1px;
		width: 170px;
		background-color: $h;
		position: absolute;
		bottom: 0;
		left: 0;
	}
}
.h4, h4	{
	font-family: $GeorgiaItalic;
	font-size: 30px;
	color: $h;
	position: relative;
	padding-bottom: 20px;
	line-height: 40px;
	margin-bottom: 30px;
	&::after {
		content: '';
		bottom: 0;
		height: 1px;
		width: 170px;
		background-color: $h;
		position: absolute;
		bottom: 0;
		left: 0;
	}
}
.h5, h5	{
	font-family: $GeorgiaItalic;
	font-size: 25px;
	color: $h;
	position: relative;
	padding-bottom: 20px;
	line-height: 35px;
	margin-bottom: 30px;
	&::after {
		content: '';
		bottom: 0;
		height: 1px;
		width: 170px;
		background-color: $h;
		position: absolute;
		bottom: 0;
		left: 0;
	}
}
.h6, h6	{
	font-family: $GeorgiaItalic;
	font-size: 22px;
	color: $h;
	position: relative;
	padding-bottom: 20px;
	line-height: 30px;
	margin-bottom: 30px;
	&::after {
		content: '';
		bottom: 0;
		height: 1px;
		width: 170px;
		background-color: $h;
		position: absolute;
		bottom: 0;
		left: 0;
	}
}
p {
	font-family: $RLight;
	font-size: 15px;
	line-height: 30px;
	&:not(:last-of-type) {
		margin-bottom: 60px;
	}
	padding-right: 50px;
	@include r(735) {
		padding-right: 0;
		font-size: 14px;
		&:not(:last-of-type) {
			margin-bottom: 20px;
		}
	}
}
.tickets {
	padding: 79px 0 5px;
	margin: 0 -15px;
	@include clearfix;
	@include r(639) {
		max-width: 300px;
		margin: 0 auto
	}
	.tickets-item {
		padding: 0 15px;
		height: 656px;
		width: 33.33%;
		float: left;
		@include r(980) {
			width: 50%;
		}
		@include r(735) {
			height: 556px;
		}
		@include r(639) {
			width: 100%;
		}
		.tickets-inner {
			background-color: rgba(36,36,36,.7);
			width: 100%;
			height: 100%;
			border-radius: 3px;
			padding-top: 40px;
			text-align: center;
			@include r(735) {
				padding-top: 35px;
			}
			.case-img {
				@include r(735) {
					margin-bottom: 25px;
					width: 70px;
					height: 70px;
				}
			}
		}
		.title {
			font-family: $GeorgiaItalic;
			font-size: 22px;
			color: $white;
			margin-bottom: 31px;
			@include r(735) {
				font-size: 17px;
				margin-bottom: 30px;
			}
		}
	}
}
.case-img {
	display: inline-block;
	margin-bottom: 34px;
	img {
		max-width: 100%;
		max-height: 100%;
	}
}
.option {
	max-width: 230px;
	display: inline-block;
	.option-item {
		width: 100%;
		display: inline-block;
		border-bottom: 1px solid $yellow;
		margin-bottom: 34px;
		&:nth-of-type(4) {
			border-color: transparent;
		}
		&.last-child {
			margin-bottom: 0;
		}
		@include r(735) {
			margin-bottom: 25px;
		}
		.option-head {
			font-family: $RLight;
			font-size: 14.06px;
			color: $yellow;
			padding-bottom: 11px;
		}
		.option-body {
			font-family: $RLight;
			font-size: 15.9px;
			color: $white;
			padding-bottom: 16px;
			.price {
				font-size: 30px;
			}
		}
		.btn {
			max-width: 200px;
			width: 100%;
		}
	}
	&.option-big {
		padding-top: 30px;
		.option-item {
			.option-body {
				padding-bottom: 10px;
			}
		}
	}
	&.option-order {
		.option-item {
			&:nth-of-type(3) {
				border-color: transparent;
			}
		}
	}
}
.link {
	color: $white;
	font-family: $RLight;
	border-bottom: 1px solid;
	transition: color 0.3s ease, border-color 0.3s ease;
	&:hover {
		color: $yellow;
		border-color: $yellow;
	}
}
.slick-dots {
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	bottom: 20px;
	@include r(980) {
		bottom: 0;
	}
	li {
		display: inline-block;
		width: 10px;
		height: 10px;
		text-indent: -9999px;
		border: 1px solid $white;
		border-radius: 100%;
		margin: 0 5px;
		cursor: pointer;
		&.slick-active {
			background-color: $white;
		}
	}
}
.slick-arrow {
	width: 50px;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 2;
	text-indent: -9999px;
	&.slick-prev {
		left: 0;
		background-image: url(../img/icons/left.png);
		background-position: 50%;
		background-repeat: no-repeat;
	}
	&.slick-next {
		right: 0;
		background-image: url(../img/icons/right.png);
		background-position: 50%;
		background-repeat: no-repeat;
	}
}
.tickets {
	.slick-dots {
		bottom: -75px;
		@include r(735) {
			bottom: -30px;
		}
		li {
			border-color: $Dyellow;
			&.slick-active {
				background-color: $Dyellow;
			}
		}
	}
}
.slider-carousel {
	img {
		width: 100%;
	}
}
.container-apps {
	background-image: url(../img/download.png);
	background-position: 50%;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	padding: 80px 0 49px;
	.mobile {
		position: relative;
		top: 10px;
		left: -4px;
		img {
			max-width: 100%;
		}
	}
	.col-33 {
		@include r(980) {
			display: none;
		}
	}
}
.apps {
	.apps-top {
		font-family: $GeorgiaItalic;
		font-size: 35.03px;
		color: $white;
		margin-bottom: 14px;
		@include r(980) {
			font-size: 27.02px;
		}
		@include r(735) {
			margin-bottom: 16px;
		}
	}
	.apps-head {
		font-family: $GeorgiaItalic;
		font-size: 40.03px;
		line-height: 48px;
		color: $white;
		display: inline-block;
		max-width: 85%;
		margin-bottom: 30px;
		@include r(980) {
			font-size: 30.02px;
		}
		@include r(735) {
			max-width: 100%;
			line-height: 40px;
		}
	}
	p {
		font-family: $RLight;
		font-size: 17px;
		color: $white;
		padding: 0;
		line-height: 35px;
		@include r(980) {
			font-size: 15.01px;
		}
	}
	.apps-load {
		font-size: 0;
		margin: 40px 0;
		@include r(735) {
			margin: 40px -10px 12px;
		}
		.apps-load_item {
			display: inline-block;
			margin: 0 17px;
			width: 155px;
			height: 50px;
			position: relative;
			@include r(735) {
				margin: 0 10px;
				height: 45px;
				width: 140px;
			}
			&::after {
				content: '';
				width: 100%;
				height: 100%;
				position: absolute;
				opacity: 0;
				visibility: hidden;
				//transition: opacity 0.15s ease, visibility 0.15s ease;
				left: 0;
				top: 0;
			}
			&::before {
				content: '';
				width: 100%;
				height: 100%;
				position: absolute;
				opacity: 1;
				visibility: visible;
				//transition: opacity 0.15s ease, visibility 0.15s ease;
				left: 0;
				top: 0;
			}
			&.g-play {
				&::after {
					background-image: url(../img/download/g-play-hover.png);
					background-size: cover;
				}
				&::before {
					background-image: url(../img/download/g-play.png);
					background-size: cover;
				}
			}
			&.a-store {
				&::after {
					background-image: url(../img/download/a-store-hover.png);
					background-size: cover;
				}
				&::before {
					background-image: url(../img/download/a-store.png);
					background-size: cover;
				}
			}
			&:hover {
				&.g-play {
					&::after {
						opacity: 1;
						visibility: visible;
					}
					&::before {
						opacity: 0;
						visibility: hidden;
					}
				}
				&.a-store {
					&::after {
						opacity: 1;
						visibility: visible;
					}
					&::before {
						opacity: 0;
						visibility: hidden;
					}
				}
			}
		}
	}
}
.container-partners {
	box-shadow: none;
}
.container-news {
	padding: 131px 0;
	.col-33 {
		padding-top: 26px;
	}
	@include r(735) {
		padding: 33px 0 62px;
	}
}
.container-preview {
	@include clearfix;
	margin: 0 -15px -80px;
	@include r(735) {
		margin: 0 -10px;
	}
	.event-item {
		width: 50%;
		margin-bottom: 0;
		@include r(480) {
			max-width: 370px;
			width: 100%;
		}
	}
}
.conteiner-expo {
	@include clearfix;
	display: inline-block;
	margin-bottom: -40px;
	@include r(980) {
		margin-bottom: -20px;
	}
	& + .load-more {
		margin-bottom: -40px;
		@include r(980)  {
			margin-bottom: 0;
		}
	}
}
.event-item {
	width: 33.33%;
	padding: 0 15px;
	height: 623px;
	position: relative;
	float: left;
	margin-bottom: 80px;
	&::after {
		content: '';
		border-bottom: 1px solid $blue;
		bottom: 0;
		left: 20px;
		right: 115px;
		position: absolute;
		@include r(480) {
			left: 10px;
			right: 93px;
		}
	}
	@include r(980) {
		padding: 0 10px;
		width: 50%;
		margin-bottom: 60px;
	}
	@include r(480) {
		padding: 0 10px;
		height: 552px;
		max-width: 370px;
		width: 100%;
		&:not(:last-of-type) {
			margin-bottom: 60px;
		}
	}
	.case-img {
		margin-bottom: 22px;
		display: block;
		position: relative;
		img {
			display: block;
		}
		&:hover {
			& .event-gallery {
				display: block;
				opacity: 1;
			}
		}
	}
	.event-gallery {
		position: absolute;
		min-height: 100%;
		top: 0;
		left: 0;
		right: 0;
		transition: opacity 0.3s ease;
		z-index: 3;
		opacity: 0;
		display: none;
		.brazzers-gallery {
			position: absolute;
			top: 0;
			width: 100%;
			left: 0;
			right: 0;
			height: auto;
			bottom: 0;
			font-size: 0;
			.brazzers-gallery__page {
				display: inline-block;
				position: static;
				height: 100%;
				&.brazzers-gallery__page_column_5 {
					width: 20%;
					.brazzers-gallery__button {
						width: 20%;
					}
				}
				&.brazzers-gallery__page_column_4 {
					width: 25%;
					.brazzers-gallery__button {
						width: 25%;
					}
				}
				&.brazzers-gallery__page_column_3 {
					width: 33.33%;
					.brazzers-gallery__button {
						width: 33.33%;
					}
				}
				&.brazzers-gallery__page_column_2 {
					width: 50%;
					.brazzers-gallery__button {
						width: 50%;
					}
				}
				&.brazzers-gallery__page_column_1 {
					width: 100%;
					.brazzers-gallery__button {
						width: 100%;
					}
				}
				&:hover {
					.brazzers-gallery__image-wrapper {
						opacity: 1;
						z-index: -1;
					}
					.brazzers-gallery__button {
						&::after {
							background-color: $blue;
						}
					}
				}
			}
			.brazzers-gallery__image-wrapper {
				overflow: hidden;
				opacity: 0;
				z-index: -2;
				bottom: 0;
				top: 0;
				right: 0;
				position: absolute;
				height: auto;left: 0;
				width: 100%;
				img {
					position: absolute;
					width: 100%;
					height: auto;
					left: 0;
					max-width: none;
				}
			}
			.brazzers-gallery__button {
				background-color: $white;
				bottom: -7px;
				min-height: 7px;
				position: absolute;
				z-index: 4;
				&::after {
					content: '';
					bottom: 2px;
					height: 3px;
					left: 1px;
					right: 1px;
					top: 2px;
					position: absolute;
					transition: background-color 0.2s ease 0s;
					background-color: $grey;
				}
			}
			.brazzers-gallery__more {
				background-color: rgba(29,80,135,.6);
				position: absolute;
				bottom: 0;
				right: 0;
				left: 0;
				top: 0;
				color: $white;
				.brazzers-gallery__more-wrapper {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%,-50%);
					text-align: center;
					.brazzers-gallery__more-icon {
						width: 75px;
						height: 60px;
						background-image: url(../img/icons/icon-photo.png);
						background-size: cover;
						display: inline-block;
						margin-bottom: 10px;
						@include r(735) {
							width: 50px;
							height: 40px;
						}
					}
					.brazzers-gallery__more-text {
						font-family: $RLight;
						font-size: 17.01px;
						color: white;
						@include r(735) {
							font-size: 15px;
						}
					}
				}
			}
		}
	}
	.event-inner {
		padding: 0 20px;
		@include r(480) {
			padding-right: 0;
		}
	}
	.head {
		font-family: $GeorgiaItalic;
		font-size: 22.02px;
		color: $Mgrey;
		display: inline-block;
		line-height: 30px;
		margin-bottom: 17px;
		@include r(540) {
			font-size: 17.01px
		}
	}
	data {
		font-family: $R;
		font-size: 13px;
		color: $blue;
		display: inline-block;
		margin-bottom: 16px;
	}
	p {
		font-family: $RLight;
		font-size: 14px;
		color: #3a3a3a;
		padding: 0;
	}
	.btn {
		position: absolute;
		bottom: 0;
		right: 13px;
	}
}
.partners-rotator {
	position: relative;
	@include r(735) {
		margin-bottom: 20px;
	}
	&::after {
		content: '';
		position: absolute;
		top: 0;
		width: 50px;
		right: 0;
		height: 100%;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+1,1+100 */
		background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 1%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
		z-index: 1;
	}
	&::before {
		content: '';
		position: absolute;
		top: 0;
		width: 50px;
		left: 0;
		height: 100%;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100 */
		background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
		z-index: 1;
	}
	.partners-item {
		height: 60px;
		display: inline-block;
		vertical-align: middle;
		margin: 0 25px;
		filter: grayscale(100%);
		transition: filter 0.3s ease;
		&:hover {
			filter: grayscale(0);
		}
		img {
			max-width: 100%;
		}
	}
}
.popup__wrap {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10px;
	text-align: center;
	background-color: rgba(29,80,135,.8);
	z-index: 150;
	overflow-y: auto;
	overflow-x: hidden;
	&::after {
		content: '';
		width: 0;
		height: 100%;
		display: inline-block;
		vertical-align: middle;
	}
	.popup {
		max-width: 430px;
		display: inline-block;
		vertical-align: middle;
		width: 100%;
		margin-bottom: 10px;
		@include r(735) {
			max-width: 300px;
		}
	}
	.front {
		position: relative;
		opacity: 0;
		visibility: hidden;
		background-color: $white;
		padding: 57px 30px 20px;
		transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
		@include r(735) {
			padding: 57px 10px 20px;
		}
		&.active {
			opacity: 1;
			visibility: visible;
		}
	}
	.back {
		position: absolute;
		top: 10px;
		opacity: 0;
		visibility: hidden;
		width: 100%;
		max-width: 430px;
		background-color: $white;
		padding: 57px 30px 20px;
		@include r(735) {
			padding: 57px 10px 20px;
			max-width: 300px;
		}
		transition: opacity 0.3s ease-in-out 0.3s, visibility 0.3s ease-in-out 0.3s;
		&.active {
			opacity: 1;
			visibility: visible;
		}
		p {
			padding-right: 0;
			margin-bottom: 30px;
		}
		.btn {
			max-width: 270px;
			width: 100%;
			margin-bottom: 22px;
			cursor: pointer;
		}
	}
	.close {
		width: 40px;
		height: 40px;
		position: absolute;
		top: 0;
		right: 0;
		cursor: pointer;
		background-image: url(../img/icons/close.jpg);
		background-size: cover;
	}
	.popup-title {
		font-family: $GeorgiaItalic;
		font-size: 30.02px;
		color: $blue;
		padding-bottom: 15px;
		position: relative;
		letter-spacing: 0.8px;
		margin-bottom: 24px;
		&::after {
			content: '';
			width: 170px;
			height: 1px;
			background-color: $grey;
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translate(-50%);
		}
	}
	.theme__message {
		font-family: $RLight;
		font-size: 13.11px;
		color: #bab8b2;
		margin-left: 17px;
		display: inline-block;
		margin-bottom: 7px;
	}
	.form {
		text-align: left;
	}
	.field {
		position: relative;
		&:not(:first-of-type) {
			.field__body {
				margin-bottom: 20px;
			}
		}
		&:last-of-type {
			.field__body {
				margin-bottom: 0;
			}
		}
		.field__body {
			margin-bottom: 30px;
			.input, .textarea {
				position: relative;
				padding: 0 50px 0 15px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				height: 50px;
				width: 100%;
				border: 1px solid $grey;
				line-height: 50px;
				font-family: $RLight;
				font-size: 15px;
				color: $Mgrey;
				border-radius: 2px;
				transition: border-color 0.3s ease;
				&:focus {
					border-color: $blue;
				}
			}
			.input {
				&.error {
					color: $error;
					border-color: $error;
				}
			}
			.textarea {
				resize: none;
				height: 180px;
				margin-bottom: 10px;
			}
			&.submit {
				text-align: center;
				.btn {
					max-width: 270px;
					width: 100%;
					margin-bottom: 16px;
				}
				p {
					font-family: $RLight;
					font-size: 13.06px;
					color: #aaaaaa;
					padding: 0;
					line-height: 1.4;
					&:not(:last-of-type) {
						margin-bottom: 13px;
					}
				}
			}
		}
	}
}
.fancy-select {
	position: relative;
	.trigger {
		position: relative;
		cursor: pointer;
		padding: 0 50px 0 15px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		height: 50px;
		width: 100%;
		border: 1px solid $grey;
		line-height: 50px;
		font-family: $RLight;
		font-size: 15px;
		color: $Mgrey;
		border-radius: 2px;
		transition: border-color 0.3s ease;
		&::after {
			content: '';
			position: absolute;
			top: 50%;
			right: 20px;
			transform: translate(-50%);
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 5px 3px 0 3px;
			border-color: $grey transparent transparent transparent;
			transition: border-color 0.3s ease;
		}
		&.open {
			border-color: $blue;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
			&::after {
				border-color: $blue transparent transparent transparent;
			}
		}
	}
	.options {
		position: absolute;
		top: 100%;
		background-color: $white;
		width: 100%;
		border: 1px solid $blue;
		margin-top: -1px;
		padding: 10px 15px;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s ease, visibility 0.3s ease;
		z-index: 15;
		&.open {
			opacity: 1;
			visibility: visible;
		}
		li {
			padding: 5px 0;
			cursor: pointer;
			span {
				font-family: $RLight;
				font-size: 15px;
				color: $Mgrey;
				border-bottom: 1px solid transparent;
				transition: border-color 0.3s ease;
			}
			&:hover {
				span {
					border-color: $Mgrey;
				}
			}
			&.selected {
				span {
					color: $blue;
					border-color: transparent;
				}
			}
		}
	}
}
.help-block {
	display: none!important;
}
.container-breadcrumbs {
	padding: 28px 0 25px;
	position: relative;
	z-index: 2;
	background-color: $white;
}
.breadcrumbs {
	font-size: 0;
	padding: 0 15px;
	margin-bottom: 15px;
	@include r(735) {
		padding: 0 10px;
	}
	.breadcrumbs-item {
		display: inline-block;
		vertical-align: middle;
		font-family: $RLight;
		font-size: 12px;
		color: $blue;
		height: 30px;
		line-height: 26px;
		border-top: 1px solid $grey;
		border-bottom: 1px solid $grey;
		padding: 0 0 0 13px;
		position: relative;
		margin-right: 25px;
		margin-bottom: 10px;
		&.active {
			font-family: $RLightI;
			padding-right: 2px;
		}
		&:first-of-type {
			border-left: 1px solid $grey;
			border-radius: 3px;
			&::after {
				display: none;
			}
		}
		&::before {
			content: '';
			position: absolute;
			background-image: url(../img/icons/breadcrumbs-right.png);
			width: 25px;
			height: 30px;
			top: -1px;
			right: -23px;
			background-position: 100% 0;
		}
		&::after {
			content: '';
			position: absolute;
			top: -1px;
			left: -10px;
			background-image: url(../img/icons/breadcrumbs-left.png);
			width: 25px;
			height: 30px;
		}
		.icon {
			display: inline-block;
			vertical-align: middle;
			width: 14px;
			height: 16px;
			background-image: url(../img/icons/home.png);
			position: relative;
			top: -2px;
			margin-right: 6px;
		}
	}
}
.head {
	margin: 0 0 62px;
	display: inline-block;
	width: 100%;
	.h1 {
		padding-bottom: 11px;
	}
	.lead {
		padding: 17px 0 17px 0;
		font-size: 17px;
		line-height: 35px;
	}
}
.container-rotator {
	.h1 {
		padding-top: 40px;
	}
	p {
		&:not(:last-of-type) {
			margin-bottom: 35px;
		}
	}
}
.container-grey {
	background-color: $Lgrey;
	box-shadow: none;
}
.p-right {
	.col-33 {
		float: right;
		@include r(735) {
			float: none;
		}
	}
}
.container-ceo {
	padding: 57px 0 0;
	text-align: center;
	background-image: url(../img/bg-CEO-speech.jpg);
	background-size: cover;
	background-position: 50%;
	.ceo-person {
		max-width: 570px;
		display: inline-block;
		margin-top: 48px;
		@include r(735) {
			margin-top: 0;
		}
	}
	.ceo-head {
		margin-bottom: 25px;
		span {
			font-family: $RLight;
			font-size: 14.01px;
			color: $blue;
			display: inline-block;
			width: 100%;
		}
		.name {
			font-family: $GeorgiaItalic;
			font-size: 25.01px;
		}
	}
	.ceo-networks {
		font-size: 0;
		margin-bottom: 25px;
		.networks-item {
			display: inline-block;
			width: 43px;
			height: 43px;
			&:not(:first-of-type) {
				margin-left: 15px;
			}
			position: relative;
			&::after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				transition: opacity 0.3s ease;
				background-size: cover;
				width: 100%;
				height: 100%;
			}
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				transition: opacity 0.3s ease;
				background-size: cover;
				width: 100%;
				height: 100%;
				opacity: 0;
			}
			&.networks-fb {
				&::after {
					background-image: url(../img/icons/icon-fb.png);
					background-size: contain;
				}
				&::before {
					background-image: url(../img/icons/icon-fb-hover.png);
					background-size: contain;
				}
			}
			&.networks-vk {
				&::after {
					background-image: url(../img/icons/icon-vk.png);
					background-size: contain;
				}
				&::before {
					background-image: url(../img/icons/icon-vk-hover.png);
					background-size: contain;
				}
			}
			&:hover {
				&::after {
					opacity: 0;
				}
				&::before {
					opacity: 1;
				}
			}
		}
	}
	p {
		font-family: $RLight;
		font-size: 17.01px;
		line-height: 35px;
		color: $Mgrey;
		padding-right: 0;
		@include r(980) {
			font-size: 16px;
		}
	}
	@include r(980) {
		background-position: 0 0;
		padding: 57px 0 57px;
		.col-33 {
			display: none;
		}
	}
	@include r(735) {
		padding: 40px 0;
	}
}
.ceo-person_img {
	width: 100%;
	img {
		max-width: 100%;
		position: relative;
		top: 4px;
	}
}
.container-banner {
	padding: 96px 0 59px;
	text-align: center;
	background-image: url(../img/bg-Library.jpg);
	background-size: cover;
	background-position: 50%;
	@include r(980) {
		.col-33 {
			display: none;
		}
	}
	@include r(735) {
		padding: 40px 0;
	}
	.banner-content {
		.banner-top {
			font-family: $GeorgiaItalic;
			font-size: 35.03px;
			color: $white;
			margin-bottom: 12px;
			@include r(980) {
				font-size: 27.02px;
			}
		}
		.banner-title {
			font-family: $GeorgiaItalic;
			font-size: 40.03px;
			color: $white;
			letter-spacing: 0.35px;
			line-height: 50px;
			margin-bottom: 26px;
			@include r(980) {
				font-size: 30.02px;
			}
		}
		p {
			padding-right: 0;
			font-size: 17.01px;
			line-height: 35px;
			color: $white;
			max-width: 566px;
			display: inline-block;
			@include r(980) {
				font-size: 16px;
			}
		}
		.banner-navigation {
			margin: 25px 0;
			font-size: 0;
			@include r(735) {
				margin-bottom: 0;
			}
		}
		.btn {
			width: 210px;
			margin: 0 15px;
			@include r(499) {
				&:first-of-type {
					margin-bottom: 20px;
				}
			}
		}
	}
	.banner-img {
		width: 100%;
		img {
			max-width: 100%;
			position: relative;
			top: -17px;
		}
	}
}
.conteiner-filter {
	position: relative;
	z-index: 4;
	padding: 46px 0;
	.h6 {
		padding-bottom: 13px;
		margin-bottom: 0;
	}
}
.filter-item {
	.filter-head {
		font-family: $RLight;
		font-size: 17px;
		color: $Mgrey;
		display: inline-block;
		width: 100%;
		border-bottom: 1px solid $grey;
		padding-bottom: 4px;
		margin-bottom: 19px;
	}
	.filter-body {
		font-size: 0;
		margin-bottom: -20px;
	}
	.filter-field {
		&:nth-of-type(even) {
			margin-left: 13.5%;
		}
		margin-bottom: 20px;
	}
}
.check-field {
	position: relative;
	display: inline-block;
	width: 40.5%;
	input {
		position: absolute;top: 0;left: 0;
		opacity: 0;
		visibility: hidden;
		&:checked {
			& + label {
				background-color: $Dyellow;
				border-color: $Dyellow;
			}
		}
	}
	label {
		border: 1px solid $grey;
		border-radius: 3px;
		display: inline-block;
		padding: 10px 0;
		cursor: pointer;
		transition: border 0.3s ease, background 0.3s ease;
		width: 100%;
		text-align: center;
		user-select: none;
		&:hover {
			border-color: $Dyellow;
		}
		span {
			font-family: $RLight;
			font-size: 15px;
			color: #333333;
			display: block;
		}
	}
}
.load-more {
	text-align: center;
	.btn {
		width: 200px;
		.icon {
			width: 20px;
			height: 16px;
			display: inline-block;
			vertical-align: middle;
			margin-right: 5px;
			background-image: url(../img/icons/load.png);
		}
	}
}