<!doctype html>
<html>
<head>
	<title>1-0about</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" href="css/screen.css">
	
	<!--[if lt IE 9]>
		<script src="js/lib/html5shiv.min.js"></script>
	<![endif]-->
	
	<script src="js/common.js"></script>
</head>
<body>
<div class="viewport">
	<div class="out">
		<header class="header">
			<div class="header-top">
				<div class="l">
					<div class="lang">
						<div class="lang-trigger">
							<span class="item"><span>Русский</span> <i class="icon icon-rus"></i></span>
						</div>
						<div class="lang-list">
							<ul>
								<li><a href="#" class="item"><span>Беларускi</span> <i class="icon icon-by"></i></a></li>
								<li class="selected" ><a href="#" class="item"><span>Русский</span> <i class="icon icon-rus"></i></a></li>
								<li><a href="#" class="item"><span>English</span> <i class="icon icon-en"></i></a></li>
							</ul>
						</div>
					</div>
					<a href="" class="link" data-popup="callback">
						<span>Обратный звонок</span>
					</a>
				</div>
			</div>
			<div class="header-row">
				<div class="l">
					<a href="" class="logo"></a>
					<div class="nav-btn">
						<a href="" class="btn blue small">
							<span>Заказать экскурсию</span>
						</a>
						<a href="" class="btn yellow small">
							<span>посетить музей</span>
						</a>
						<button class="burger" type="button">
							<span></span>
						</button>
					</div>
					<div class="overlay">
						<nav class="header-nav">
							<ul>
								<li><a href="">О музее</a></li>
								<li><a href="">Экспозиция</a></li>
								<li><a href="">Студия для детей</a></li>
								<li><a href="">Event-пространство</a></li>
								<li><a href="">Новости</a></li>
								<li><a href="">Контакты</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</header>
		<div class="wrapper">
			<section class="container container-breadcrumbs">
				<div class="l">
					<div class="row">
						<div class="breadcrumbs">
							<a href="" class="breadcrumbs-item"><i class="icon"></i>Главная</a>
							<a href="" class="breadcrumbs-item">Экспозиция</a>
							<a href="" class="breadcrumbs-item active">Национальная Библиотека РБ</a>
						</div>
					</div>
					<div class="row">
						<div class="head">
							<div class="col-33">
								<div class="h1">О музее</div>
							</div>
							<div class="col-66">
								<p class="lead">Из множества достопримечательностей Беларуси мы отобрали 70 ключевых,  чтобы за два часа вы смогли увидеть самые значимые объекты из истории Беларуси, чтобы лучше познакомиться с культурой беларусов. </p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="container container-rotator container-grey">
				<div class="l">
					<div class="row">
						<div class="col-33">
							<div class="h1">Экспозиция музея</div>
							<p>Дополнительное текстовое описание блока. Специально для вас, из множества достопримечательностей Беларуси мы отобрали 70 ключевых. (150-200 символов).</p>
							<a href="" class="btn blue small arrow"></a>
						</div>
						<div class="col-66">
							<div class="slider-carousel">
								<div class="slider-item">
									<img src="img/carousel/carousel-1.jpg" alt="">
								</div>
								<div class="slider-item">
									<img src="img/carousel/carousel-1.jpg" alt="">
								</div>
								<div class="slider-item">
									<img src="img/carousel/carousel-1.jpg" alt="">
								</div>
								<div class="slider-item">
									<img src="img/carousel/carousel-1.jpg" alt="">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-33">
							<p>Не факт, что лидерство в продажах непосредственно стабилизирует стратегический направленный маркетинг, используя опыт предыдущих кампаний.</p>
							<p>Каждая сфера рынка, как принято считать, усиливает тактический рекламный блок. Презентация неверно притягивает нишевый проект. Соц-дем характеристика аудитории охватывает бюджет на размещение.</p>
						</div>
						<div class="col-33">
							<p>Стратегическое планирование ускоряет фирменный комплексный анализ ситуации. Воздействие на потребителя, пренебрегая деталями, редко соответствует рыночным ожиданиям. Согласно предыдущему, контекстная реклама очевидна не для всех.</p>
							<p>Традиционный канал притягивает повторный контакт. Высокая информативность ускоряет межличностный рекламный макет.</p>
						</div>
						<div class="col-33">
							<p>К тому же инвестиционный продукт масштабирует портрет потребителя, отвоевывая свою долю рынка. Маркетинг довольно неоднозначен.</p>
							<p>Еще Траут показал, что емкость рынка неестественно типичный жизненный цикл продукции. Медийная связь категорически поддерживает, оптимизируя бюджеты.</p>
						</div>
					</div>
				</div>
			</section>
			<section class="container container-rotator">
				<div class="l">
					<div class="row p-right">
						<div class="col-33">
							<div class="h1">Студия для детей</div>
							<p>Дополнительное текстовое описание блока. Специально для вас, из множества достопримечательностей Беларуси мы отобрали 70 ключевых. (150-200 символов).</p>
							<a href="" class="btn blue small arrow"></a>
						</div>
						<div class="col-66">
							<div class="slider-carousel">
								<div class="slider-item">
									<img src="img/carousel/carousel-1.jpg" alt="">
								</div>
								<div class="slider-item">
									<img src="img/carousel/carousel-1.jpg" alt="">
								</div>
								<div class="slider-item">
									<img src="img/carousel/carousel-1.jpg" alt="">
								</div>
								<div class="slider-item">
									<img src="img/carousel/carousel-1.jpg" alt="">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-33">
							<p>Не факт, что лидерство в продажах непосредственно стабилизирует стратегический направленный маркетинг, используя опыт предыдущих кампаний.</p>
							<p>Каждая сфера рынка, как принято считать, усиливает тактический рекламный блок. Презентация неверно притягивает нишевый проект. Соц-дем характеристика аудитории охватывает бюджет на размещение.</p>
						</div>
						<div class="col-33">
							<p>Стратегическое планирование ускоряет фирменный комплексный анализ ситуации. Воздействие на потребителя, пренебрегая деталями, редко соответствует рыночным ожиданиям. Согласно предыдущему, контекстная реклама очевидна не для всех.</p>
							<p>Традиционный канал притягивает повторный контакт. Высокая информативность ускоряет межличностный рекламный макет.</p>
						</div>
						<div class="col-33">
							<p>К тому же инвестиционный продукт масштабирует портрет потребителя, отвоевывая свою долю рынка. Маркетинг довольно неоднозначен.</p>
							<p>Еще Траут показал, что емкость рынка неестественно типичный жизненный цикл продукции. Медийная связь категорически поддерживает, оптимизируя бюджеты.</p>
						</div>
					</div>
				</div>
			</section>
			<section class="container container-rotator container-grey">
				<div class="l">
					<div class="row">
						<div class="col-33">
							<div class="h1">Event- пространство</div>
							<p>Дополнительное текстовое описание блока. Специально для вас, из множества достопримечательностей Беларуси мы отобрали 70 ключевых. (150-200 символов).</p>
							<a href="" class="btn blue small arrow"></a>
						</div>
						<div class="col-66">
							<div class="slider-carousel">
								<div class="slider-item">
									<img src="img/carousel/carousel-1.jpg" alt="">
								</div>
								<div class="slider-item">
									<img src="img/carousel/carousel-1.jpg" alt="">
								</div>
								<div class="slider-item">
									<img src="img/carousel/carousel-1.jpg" alt="">
								</div>
								<div class="slider-item">
									<img src="img/carousel/carousel-1.jpg" alt="">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-33">
							<p>Не факт, что лидерство в продажах непосредственно стабилизирует стратегический направленный маркетинг, используя опыт предыдущих кампаний.</p>
							<p>Каждая сфера рынка, как принято считать, усиливает тактический рекламный блок. Презентация неверно притягивает нишевый проект. Соц-дем характеристика аудитории охватывает бюджет на размещение.</p>
						</div>
						<div class="col-33">
							<p>Стратегическое планирование ускоряет фирменный комплексный анализ ситуации. Воздействие на потребителя, пренебрегая деталями, редко соответствует рыночным ожиданиям. Согласно предыдущему, контекстная реклама очевидна не для всех.</p>
							<p>Традиционный канал притягивает повторный контакт. Высокая информативность ускоряет межличностный рекламный макет.</p>
						</div>
						<div class="col-33">
							<p>К тому же инвестиционный продукт масштабирует портрет потребителя, отвоевывая свою долю рынка. Маркетинг довольно неоднозначен.</p>
							<p>Еще Траут показал, что емкость рынка неестественно типичный жизненный цикл продукции. Медийная связь категорически поддерживает, оптимизируя бюджеты.</p>
						</div>
					</div>
				</div>
			</section>
			<section class="container container-rotator">
				<div class="l">
					<div class="row p-right">
						<div class="col-33">
							<div class="h1">Кафе</div>
							<p>Дополнительное текстовое описание блока. Специально для вас, из множества достопримечательностей Беларуси мы отобрали 70 ключевых. (150-200 символов).</p>
							<a href="" class="btn blue small arrow"></a>
						</div>
						<div class="col-66">
							<div class="slider-carousel">
								<div class="slider-item">
									<img src="img/carousel/carousel-1.jpg" alt="">
								</div>
								<div class="slider-item">
									<img src="img/carousel/carousel-1.jpg" alt="">
								</div>
								<div class="slider-item">
									<img src="img/carousel/carousel-1.jpg" alt="">
								</div>
								<div class="slider-item">
									<img src="img/carousel/carousel-1.jpg" alt="">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-33">
							<p>Не факт, что лидерство в продажах непосредственно стабилизирует стратегический направленный маркетинг, используя опыт предыдущих кампаний.</p>
							<p>Каждая сфера рынка, как принято считать, усиливает тактический рекламный блок. Презентация неверно притягивает нишевый проект. Соц-дем характеристика аудитории охватывает бюджет на размещение.</p>
						</div>
						<div class="col-33">
							<p>Стратегическое планирование ускоряет фирменный комплексный анализ ситуации. Воздействие на потребителя, пренебрегая деталями, редко соответствует рыночным ожиданиям. Согласно предыдущему, контекстная реклама очевидна не для всех.</p>
							<p>Традиционный канал притягивает повторный контакт. Высокая информативность ускоряет межличностный рекламный макет.</p>
						</div>
						<div class="col-33">
							<p>К тому же инвестиционный продукт масштабирует портрет потребителя, отвоевывая свою долю рынка. Маркетинг довольно неоднозначен.</p>
							<p>Еще Траут показал, что емкость рынка неестественно типичный жизненный цикл продукции. Медийная связь категорически поддерживает, оптимизируя бюджеты.</p>
						</div>
					</div>
				</div>
			</section>
			<section class="container container-rotator container-grey">
				<div class="l">
					<div class="row">
						<div class="col-33">
							<div class="h1">Сувенирная лавка</div>
							<p>Дополнительное текстовое описание блока. Специально для вас, из множества достопримечательностей Беларуси мы отобрали 70 ключевых. (150-200 символов).</p>
							<a href="" class="btn blue small arrow"></a>
						</div>
						<div class="col-66">
							<div class="slider-carousel">
								<div class="slider-item">
									<img src="img/carousel/carousel-1.jpg" alt="">
								</div>
								<div class="slider-item">
									<img src="img/carousel/carousel-1.jpg" alt="">
								</div>
								<div class="slider-item">
									<img src="img/carousel/carousel-1.jpg" alt="">
								</div>
								<div class="slider-item">
									<img src="img/carousel/carousel-1.jpg" alt="">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-33">
							<p>Не факт, что лидерство в продажах непосредственно стабилизирует стратегический направленный маркетинг, используя опыт предыдущих кампаний.</p>
							<p>Каждая сфера рынка, как принято считать, усиливает тактический рекламный блок. Презентация неверно притягивает нишевый проект. Соц-дем характеристика аудитории охватывает бюджет на размещение.</p>
						</div>
						<div class="col-33">
							<p>Стратегическое планирование ускоряет фирменный комплексный анализ ситуации. Воздействие на потребителя, пренебрегая деталями, редко соответствует рыночным ожиданиям. Согласно предыдущему, контекстная реклама очевидна не для всех.</p>
							<p>Традиционный канал притягивает повторный контакт. Высокая информативность ускоряет межличностный рекламный макет.</p>
						</div>
						<div class="col-33">
							<p>К тому же инвестиционный продукт масштабирует портрет потребителя, отвоевывая свою долю рынка. Маркетинг довольно неоднозначен.</p>
							<p>Еще Траут показал, что емкость рынка неестественно типичный жизненный цикл продукции. Медийная связь категорически поддерживает, оптимизируя бюджеты.</p>
						</div>
					</div>
				</div>
			</section>
			<section class="container container-ceo">
				<div class="l">
					<div class="row">
						<div class="col-33">
							<div class="ceo-person_img">
								<img src="img/pattern/Smiling-man.png" alt="">
							</div>
						</div>
						<div class="col-66">
							<div class="ceo-person">
								<div class="ceo-head">
									<span>Основатель музея</span>
									<span class="name">Данилик Евгений</span>
								</div>
								<div class="ceo-networks">
									<a href="" class="networks-item networks-fb"></a>
									<a href="" class="networks-item networks-vk"></a>
								</div>
								<p>В экспозиции музея вы повстречаете самые значимые архитектурные достопримечательности, в том числе малоизвестные, познакомитесь с интересными фактами из истории замков, дворцов, усадеб, храмов. Часть из них включена в список Всемирного наследия Юнеско. Увидите утраченные но воссозданные Кревский, Новгородский замки.Увидите утраченные но воссозданные Кревский, Новгородский замки.</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="container container-banner">
				<div class="l">
					<div class="row">
						<div class="col-66">
							<div class="banner-content">
								<div class="banner-top">Приглашаем на экскурсию</div>
								<div class="banner-title">70 точных архитектурных  копий воссозданны в деталях</div>
								<p>Каждый посетитель может просмотреть экспозицию самостоятельно, присоединиться к экскурсии, или воспользоваться аудиогидом</p>
								<div class="banner-navigation">
									<a href="" class="btn blue">
										<span>Заказать экскурсию</span>
									</a>
									<a href="" class="btn yellow">
										<span>Посетить музей</span>
									</a>
								</div>
							</div>
						</div>
						<div class="col-33">
							<div class="banner-img">
								<img src="img/pattern/Library.png" alt="">
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<div class="push"></div>
	</div>
	<footer class="footer">
		<div class="footer-top">
			<div class="l">
				<nav class="footer-nav">
					<ul>
						<li><a href="">Поддержать музей</a></li>
						<li><a href="">Партнеры музея</a></li>
						<li><a href="">Фотогалерея</a></li>
						<li><a href="">Пресса о нас</a></li>
						<li><a href="">Контакты</a></li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="footer-middle">
			<div class="l">
				<div class="footer-col">
					<div class="form">
						<form action="">
							<div class="form-title">Скидка 10%</div>
							<p>При подписке на наши новости о проводимых мероприятиях и событиях из жизни музея</p>
							<div class="field">
								<div class="field-body">
									<input type="text" placeholder="Ваш e-mail">
								</div>
							</div>
							<div class="field">
								<button class="btn blue small">
									<span>Подписаться и получить скидку</span>
								</button>
							</div>
						</form>
					</div>
				</div>
				<div class="footer-col">
					<div class="coord">
						<div class="coord-item location">
							<p>220030, Республика Беларусь г. Минск, ул. Кирова, 18</p>
						</div>
						<div class="coord-item phone">
							<p>+ 375 29 603 94 75</p>
							<p>+ 375 29 603 94 77</p>
						</div>
						<div class="coord-item mail">
							<p><a href="">Обратная связь</a></p>
						</div>
					</div>
				</div>
				<div class="footer-col">
					<div class="media">
						<div class="media-item media-item_fb"><a href=""></a></div>
						<div class="media-item media-item_vk"><a href=""></a></div>
						<div class="media-item media-item_advisor"><a href=""></a></div>
						<div class="media-item media-item_insta"><a href=""></a></div>
						<div class="media-item media-item_yt"><a href=""></a></div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="l">
				<div class="copyright">© 2016  «Музей Беларусь в миниатюре» — первый музей в Беларуси с интеррактивными макетами</div>
			</div>
		</div>
	</footer>
</div>
<div class="popup__wrap callback">
	<div class="popup">
		<div class="front active">
			<div class="popup-title">Форма обратной связи</div>
			<div class="form">
				<form action="" class="validation">
					<span class="theme__message">Тема обращения</span>
					<div class="field">
						<div class="field__body">
							<select class="select">
								<option value="Заказ экскурсии в музей">Заказ экскурсии в музей</option>
								<option value="Аренда Event-пространства">Аренда Event-пространства</option>
								<option value="Заказ выездной экскурсии">Заказ выездной экскурсии</option>
								<option value="Задать вопрос">Задать вопрос</option>
								<option value="Корпроративное партнерство">Корпроративное партнерство</option>
								<option value="Меценатство">Меценатство</option>
								<option value="Волонтерство">Волонтерство</option>
								<option value="Предложение">Предложение</option>
							</select>
						</div>
					</div>
					<div class="field">
						<div class="field__body">
							<input type="text" class="input" placeholder="Имя">
						</div>
					</div>
					<div class="field">
						<div class="field__body">
							<input type="text" class="input mask" placeholder="Телефон*" data-validation="length" data-validation-length="4-19">
						</div>
					</div>
					<div class="field">
						<div class="field__body">
							<input type="text" class="input" placeholder="Адрес электронной почты*" data-validation="email">
						</div>
					</div>
					<div class="field">
						<div class="field__body">
							<textarea class="textarea" placeholder="Текст вашего сообщение"></textarea>
						</div>
					</div>
					<div class="field">
						<div class="field__body submit">
							<button class="btn yellow" type="submit">
								<span>Отправить сообщение</span>
							</button>
							<p>* Обязательно для заполнения</p>
							<p>Хотя бы одно из двух полей: телефон, либо адрес  электронной почты - обязательно для заполнения</p>
						</div>
					</div>
				</form>
			</div>
			<div class="close"></div>
		</div>
		<div class="back">
			<div class="popup-title">Спасибо</div>
			<p>Ваше сообщение успешно отправлено</p>
			<div class="btn yellow btn__success">
				<span>Хорошо</span>
			</div>
			<div class="close"></div>
		</div>
	</div>
</div>

</body>
</html>