<!doctype html>
<html>
<head>
	<title>2-1exposition-inner</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" href="css/screen.css">
	
	<!--[if lt IE 9]>
		<script src="js/lib/html5shiv.min.js"></script>
	<![endif]-->
	<script type="text/javascript" src="http://vk.com/js/api/share.js?90" charset="windows-1251"></script>
	<script src="https://maps.googleapis.com/maps/api/js"></script>
	<script src="js/common.js"></script>
</head>
<body>
<div class="viewport">
	<div class="out">
		<header class="header">
			<div class="header-top">
				<div class="l">
					<div class="lang">
						<div class="lang-trigger">
							<span class="item"><span>Русский</span> <i class="icon icon-rus"></i></span>
						</div>
						<div class="lang-list">
							<ul>
								<li><a href="#" class="item"><span>Беларускi</span> <i class="icon icon-by"></i></a></li>
								<li class="selected" ><a href="#" class="item"><span>Русский</span> <i class="icon icon-rus"></i></a></li>
								<li><a href="#" class="item"><span>English</span> <i class="icon icon-en"></i></a></li>
							</ul>
						</div>
					</div>
					<a href="" class="link" data-popup="callback">
						<span>Обратный звонок</span>
					</a>
				</div>
			</div>
			<div class="header-row">
				<div class="l">
					<a href="" class="logo"></a>
					<div class="nav-btn">
						<a href="" class="btn blue small">
							<span>Заказать экскурсию</span>
						</a>
						<a href="" class="btn yellow small">
							<span>посетить музей</span>
						</a>
						<button class="burger" type="button">
							<span></span>
						</button>
					</div>
					<div class="overlay">
						<nav class="header-nav">
							<ul>
								<li><a href="">О музее</a></li>
								<li><a href="">Экспозиция</a></li>
								<li><a href="">Студия для детей</a></li>
								<li><a href="">Event-пространство</a></li>
								<li><a href="">Новости</a></li>
								<li><a href="">Контакты</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</header>
		<div class="wrapper">
			<section class="container container-breadcrumbs">
				<div class="l">
					<div class="row">
						<div class="breadcrumbs">
							<a href="" class="breadcrumbs-item"><i class="icon"></i>Главная</a>
							<a href="" class="breadcrumbs-item">Экспозиция</a>
							<a href="" class="breadcrumbs-item active">Национальная Библиотека РБ</a>
						</div>
					</div>
				</div>
			</section>
			<section class="container container-content">
				<div class="l">
					<div class="row">
						<div class="images-lead">
							<div class="col-75">
								<img src="img/images-1.jpg" alt="">
							</div>
							<div class="col-25">
								<div class="vertical-gallery">
									<div class="item">
										<div>
											<img src="img/expo/expo-1.jpg" alt="">
										</div>
									</div>
									<div class="item">
										<div>
											<img src="img/expo/expo-1.jpg" alt="">
										</div>
									</div>
									<a href="" class="item">
										<div>
											<img src="img/expo/expo-3.jpg" alt="">
											<div class="brazzers-gallery__more">
												<div class="brazzers-gallery__more-wrapper">
													<div class="brazzers-gallery__more-icon"></div>
													<div class="brazzers-gallery__more-text">+ еще 3 фотографии</div>
												</div>
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-100">
							<div class="h1">Гомельский дворцово-парковый ансамбль Румянцевых&nbsp;и Паскевичей</div>
						</div>
					</div>
				</div>
			</section>
			<section class="container container-chronicle container-grey">
				<div class="l">
					<div class="row">
						<div class="chronicle">
							<div class="col-33">
								<div class="chronicle-item">
									<div class="icon">
										<img src="img/icons/icon-time.png" alt="">
									</div>
									<div class="overlay">
										<div class="chronicle-head">Населенный пункт \ Область</div>
										<div class="chronicle-name">д. Вулька-Аброуская, Брестская обл.</div>
									</div>
								</div>
							</div>
							<div class="col-33">
								<div class="chronicle-item">
									<div class="icon">
										<img src="img/icons/icon-location.png" alt="">
									</div>
									<div class="overlay">
										<div class="chronicle-head">Время постройки</div>
										<div class="chronicle-name">XVI в.</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="container container-text">
				<div class="l">
					<div class="row">
						<div class="col-33">
							<p>Специально для вас, из множества достопримечательностей Беларуси мы отобрали 70 ключевых, что бы за два часа вы смогли увидеть самые значимый объекты из истории Беларуси, что бы лучше познакомиться с культурой беларусов.</p>
							<p>Благодаря новым технологиям, это будет самый комфортный и инновационный музей.</p>
							<p>Макеты интерактивны, вы проведете время в удовольствие и с пользой. В экспозиции музея вы повстречаете самые значимые архитектурные достопримечательности, в том числе малоизвестные, познакомитесь с интересными фактами из истории замков, дворцов, усадеб, храмов. Часть из них включена в список Всемирного наследия Юнеско. </p>
						</div>
						<div class="col-33">
							<p>Специально для вас, из множества достопримечательностей Беларуси мы отобрали 70 ключевых, что бы за два часа вы смогли увидеть самые значимый объекты из истории Беларуси, что бы лучше познакомиться с культурой беларусов. Благодаря новым технологиям, это будет самый комфортный и инновационный музей. Макеты интерактивны, вы проведете время в удовольствие и с пользой.</p>
							<p>В экспозиции музея вы повстречаете самые значимые архитектурные достопримечательности, в том числе малоизвестные, познакомитесь с интересными фактами из истории замков, дворцов, усадеб, храмов. Часть из них включена в список Всемирного наследия Юнеско. </p>
						</div>
						<div class="col-33">
							<p>В экспозиции музея вы повстречаете самые значимые архитектурные достопримечательности, в том числе малоизвестные, познакомитесь с интересными фактами из истории замков, дворцов, усадеб, храмов. Часть из них включена в список Всемирного наследия Юнеско. Увидите утраченные но воссозданные Кревский, Новгородский замки.</p>
							<p>Музей "Беларусь в миниатюре" открыт для посетителей ежедневно. Каждый посетитель может просмотреть экспозицию самостоятельно, присоединиться к экскурсии или воспользоваться аудиогидом.</p>
						</div>
					</div>
				</div>
			</section>
			<section class="container container-trip">
				<div class="l">
					<div class="row">
						<div class="col-33">
							<div class="h1">Выездная экскурсия</div>
						</div>
						<div class="col-66">
							<p>Приглашаем вас посетить реальный объект, и увидеть всю тонкость работы древних зодчих Беларуси. Выездная экскурсия формируется по предвариетльному заказу, и может быть проведена в любой удобный для вас день.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-100">	
							<div class="location">
								<div class="overlay">
									<div id="maps" data-longitude="55.872686" data-latitude="37.43495"></div>
								</div>
								<div class="tickets">
									<div class="tickets-item">
										<div class="tickets-inner">
											<div class="option">
												<div class="option-item">
													<div class="option-head">Удаленность от Минска</div>
													<div class="option-body">180 км (2 ч пути)</div>
												</div>
												<div class="option-item">
													<div class="option-head">Тип транспортного средства</div>
													<div class="option-body">Класс Comfort</div>
												</div>
												<div class="option-item">
													<div class="option-head">Продолжительность поездки</div>
													<div class="option-body">2 дня \ 1 ночь</div>
												</div>
												<div class="option-item">
													<div class="option-head">Стоимость на человека *</div>
													<div class="option-body"><span class="price">150</span> usd</div>
												</div>
												<div class="option-item">
													<a href="" class="btn yellow">
														<span>Заказать экскурсию</span>
													</a>
													<p>* В стоимость экскурсии включена стоимость проживания и двух завтраков</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="container">
				<div class="l">
					<div class="row">
						<div class="col-66">
							<div class="h1">Программа экскурсии</div>
						</div>
					</div>
					<div class="row">
						<div class="col-33">
							<p>Из множества достопримечательностей Беларуси мы отобрали 70 ключевых, чтобы за два часа вы смогли увидеть самые значимые объекты из истории Беларуси, чтобы лучше познакомиться с культурой беларусов.</p>
						</div>
						<div class="col-33">
							<p>Специально для вас, из множества достопримечательностей Беларуси мы отобрали 70 ключевых, что бы за два часа вы смогли увидеть самые значимый объекты из истории Беларуси, что бы лучше познакомиться с культурой беларусов. Благодаря новым технологиям, это будет самый комфортный и инновационный музей. Макеты интерактивны, вы проведете время в удовольствие и с пользой.</p>
							<p>В экспозиции музея вы повстречаете самые значимые архитектурные достопримечательности, в том числе малоизвестные, познакомитесь с интересными фактами из истории замков, дворцов, усадеб, храмов. Часть из них включена в список Всемирного наследия Юнеско. </p>
						</div>
						<div class="col-33">
							<p>В экспозиции музея вы повстречаете самые значимые архитектурные достопримечательности, в том числе малоизвестные, познакомитесь с интересными фактами из истории замков, дворцов, усадеб, храмов. Часть из них включена в список Всемирного наследия Юнеско. Увидите утраченные но воссозданные Кревский, Новгородский замки.</p>
							<p>Музей "Беларусь в миниатюре" открыт для посетителей ежедневно. Каждый посетитель может просмотреть экспозицию самостоятельно, присоединиться к экскурсии или воспользоваться аудиогидом.</p>
						</div>
					</div>
				</div>
			</section>
			<section class="container container-apps">
				<div class="l">
					<div class="row">
						<div class="col-33">
							<div class="mobile">
								<img src="img/pattern/phone.png" alt="">
							</div>
						</div>
						<div class="col-66">
							<div class="apps">
								<div class="apps-top">Бесплатно</div>
								<div class="apps-head">Аудиогид и&nbsp;путеводитель в&nbsp;одном мобильном приложении</div>
								<p>Полное описание достопримечательностей с фотографиями, а также вся необходимая информация для самостоятельной поездки на экскурсию в&nbsp;удобном для вас виде</p>
								<div class="apps-load">
									<a href="" class="apps-load_item g-play"></a>
									<a href="" class="apps-load_item a-store"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<div class="push"></div>
	</div>
	<footer class="footer">
		<div class="footer-top">
			<div class="l">
				<nav class="footer-nav">
					<ul>
						<li><a href="">Поддержать музей</a></li>
						<li><a href="">Партнеры музея</a></li>
						<li><a href="">Фотогалерея</a></li>
						<li><a href="">Пресса о нас</a></li>
						<li><a href="">Контакты</a></li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="footer-middle">
			<div class="l">
				<div class="footer-col">
					<div class="form">
						<form action="">
							<div class="form-title">Скидка 10%</div>
							<p>При подписке на наши новости о проводимых мероприятиях и событиях из жизни музея</p>
							<div class="field">
								<div class="field-body">
									<input type="text" placeholder="Ваш e-mail">
								</div>
							</div>
							<div class="field">
								<button class="btn blue small">
									<span>Подписаться и получить скидку</span>
								</button>
							</div>
						</form>
					</div>
				</div>
				<div class="footer-col">
					<div class="coord">
						<div class="coord-item location">
							<p>220030, Республика Беларусь г. Минск, ул. Кирова, 18</p>
						</div>
						<div class="coord-item phone">
							<p>+ 375 29 603 94 75</p>
							<p>+ 375 29 603 94 77</p>
						</div>
						<div class="coord-item mail">
							<p><a href="">Обратная связь</a></p>
						</div>
					</div>
				</div>
				<div class="footer-col">
					<div class="media">
						<div class="media-item media-item_fb"><a href=""></a></div>
						<div class="media-item media-item_vk"><a href=""></a></div>
						<div class="media-item media-item_advisor"><a href=""></a></div>
						<div class="media-item media-item_insta"><a href=""></a></div>
						<div class="media-item media-item_yt"><a href=""></a></div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="l">
				<div class="copyright">© 2016  «Музей Беларусь в миниатюре» — первый музей в Беларуси с интеррактивными макетами</div>
			</div>
		</div>
	</footer>
	<div class="goto"></div>
</div>
<div class="popup__wrap callback">
	<div class="popup">
		<div class="front active">
			<div class="popup-title">Форма обратной связи</div>
			<div class="form">
				<form action="" class="validation">
					<span class="theme__message">Тема обращения</span>
					<div class="field">
						<div class="field__body">
							<select class="select">
								<option value="Заказ экскурсии в музей">Заказ экскурсии в музей</option>
								<option value="Аренда Event-пространства">Аренда Event-пространства</option>
								<option value="Заказ выездной экскурсии">Заказ выездной экскурсии</option>
								<option value="Задать вопрос">Задать вопрос</option>
								<option value="Корпроративное партнерство">Корпроративное партнерство</option>
								<option value="Меценатство">Меценатство</option>
								<option value="Волонтерство">Волонтерство</option>
								<option value="Предложение">Предложение</option>
							</select>
						</div>
					</div>
					<div class="field">
						<div class="field__body">
							<input type="text" class="input" placeholder="Имя">
						</div>
					</div>
					<div class="field">
						<div class="field__body">
							<input type="text" class="input mask" placeholder="Телефон*" data-validation="length" data-validation-length="4-19">
						</div>
					</div>
					<div class="field">
						<div class="field__body">
							<input type="text" class="input" placeholder="Адрес электронной почты*" data-validation="email">
						</div>
					</div>
					<div class="field">
						<div class="field__body">
							<textarea class="textarea" placeholder="Текст вашего сообщение"></textarea>
						</div>
					</div>
					<div class="field">
						<div class="field__body submit">
							<button class="btn yellow" type="submit">
								<span>Отправить сообщение</span>
							</button>
							<p>* Обязательно для заполнения</p>
							<p>Хотя бы одно из двух полей: телефон, либо адрес  электронной почты - обязательно для заполнения</p>
						</div>
					</div>
				</form>
			</div>
			<div class="close"></div>
		</div>
		<div class="back">
			<div class="popup-title">Спасибо</div>
			<p>Ваше сообщение успешно отправлено</p>
			<div class="btn yellow btn__success">
				<span>Хорошо</span>
			</div>
			<div class="close"></div>
		</div>
	</div>
</div>
<div class="mobile__wrap">
	<div class="mobile__wrap-inner">
		<div class="mobile-menu">
			<ul>
				<li class="menu-item"><a href="">О музее</a></li>
				<li class="menu-item"><a href="">Экспозиция</a></li>
				<li class="menu-item"><a href="">Студия для детей</a></li>
				<li class="menu-item"><a href="">Event-пространство</a></li>
				<li class="menu-item"><a href="">Новости</a></li>
			</ul>
		</div>
		<div class="close"></div>
	</div>
</div>

</body>
</html>